footer{
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.5em;
    padding: .5em;
    background-color: var(--footerColor2);
}

footer hr{
    border: inset;
    background-color: var(--footerColor);
    border-width: 0.9px;
}
